In [1]:
a = ["sai", [0,1], 23.25, (45,8)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

var1 = string
var2 = string
var3 = list
var4 = float

Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [2]:
'''
/: This operator is used for division
%: This is modulous operator used to determine the remainder of the division
//: This is floor division operator. When used gives result only the digits before the decimal place.
**: This is power operator. Provides to the power something.

Examples are given below.
'''

a=15
b=2
print(a/b)
print(a%b)
print(a//b)
print(a**b)

7.5
1
7
225

Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [3]:
lis = [1,2,3,4,5,1.1,'sai',True,0,45.0]

In [4]:
for i in lis:
    print(i, "->data type: ", type(i))

1 ->data type:  <class 'int'>
2 ->data type:  <class 'int'>
3 ->data type:  <class 'int'>
4 ->data type:  <class 'int'>
5 ->data type:  <class 'int'>
1.1 ->data type:  <class 'float'>
sai ->data type:  <class 'str'>
True ->data type:  <class 'bool'>
0 ->data type:  <class 'int'>
45.0 ->data type:  <class 'float'>

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
a = 15
b = 3

In [6]:
while a%b == 0:
    print("Number a is divisible by b and is divisible by", a/b, 'times')
    break

Number a is divisible by b and is divisible by 5.0 times

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
l = [i for i in range(25)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [8]:
for i in l:
    if i%3==0:
        print(f'{i} is divisible by 3.')
    else:
        print(f"{i} is not divisible by 3.")

0 is divisible by 3.
1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [9]:
# Mutable data types are those which can be modified after creation.
# such as list, dictionary
# And those who cannot be modified are immutable data types.
# such as string, tuple

In [10]:
l = [1,2,3,4,5]
l[1]=23
print(l)

[1, 23, 3, 4, 5]

In [11]:
d = {'sai':23, 'edu': 'grad'}
print(d)

{'sai': 23, 'edu': 'grad'}

In [12]:
d['sai']=25
print(d)

{'sai': 25, 'edu': 'grad'}

In [13]:
a= 'sai'
a[1]= g
print(a)

NameError: name 'g' is not defined

In [14]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [15]:
t[0]= 89

TypeError: 'tuple' object does not support item assignment